* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0a192f;
    color: #8892b0;
    font-family: Arial, sans-serif;
    line-height: 1.7;
}

/* NAVBAR */
.navbar {
    padding: 20px 8%;
    background: #112240;
}

.logo {
    font-size: 24px;
    color: #64ffda;
}
.logo span {
    color: white;
}

/* HERO */
.hero {
    padding: 120px 8%;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
}

.hero-content p {
    margin-bottom: 30px;
}

/* BUTTON */
.btn-primary {
    background: #64ffda;
    border: none;
    padding: 14px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* SECTIONS */
.section {
    padding: 120px 8%;
    max-width: 1200px;
    margin: 0 auto;
}

.section h2 {
    text-align: center;
    color: #64ffda;
    margin-bottom: 60px;
}

/* SERVICES */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.service-card {
    background: #112240;
    padding: 30px;
    border-radius: 16px;
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-8px);
}

/* BOOKING */
.booking-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-top: 40px;
}

.highlight {
    color: #64ffda;
    font-size: 20px;
    margin: 20px 0;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

/* SLOTS */
.slots-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
}

.slot {
    padding: 15px;
    background: #0a192f;
    border: 1px solid #233554;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.slot.selected {
    border: 2px solid #64ffda;
    background: rgba(100,255,218,0.1);
}

/* CENTER */
.center {
    text-align: center;
    margin-top: 50px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .booking-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .hero-content h1 {
        font-size: 32px;
    }
}

.hidden {
    display: none;
}
